{{#block "testimonial"}}
  <p class="leading-relaxed text-lg">
    "{{body}}"
  </p>
  <span class="inline-block h-1 w-10 rounded bg-{{default color "amber"}}-500 mt-8 mb-6"></span>
  <h2 class="font-medium title-font tracking-wider text-sm">
    {{name}}
  </h2>
  <p>
    {{position}}
  </p>
{{/block}}