<!-- start blog -->
<section class="relative bg-white py-32">
  <div class="flex flex-col items-center w-[1280px] text-center m-auto">
    <h2 class="text-4xl leading-tight font-bold mt-4">Latest from Our Blog</h2>
    <p class="text-lg mt-6 leading-relaxed">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
      turpis egestas.</p>
  </div>

  <div class="md:flex mt-16 w-[1280px] m-auto">
    <div class="md:px-4 md:w-1/2 xl:w-1/4">
      <div class="bg-white rounded border border-stone-300">
        <div class="w-full h-48 overflow-hidden bg-stone-300"></div>
        <div class="p-4">
          <div class="flex items-center text-sm">
            <span class="text-stone-500 font-semibold">Business</span>
            <span class="ml-4 text-stone-600">29 Nov, 2019</span>
          </div>
          <p class="text-lg font-semibold leading-tight mt-4">Card Title</p>
          <p class="text-stone-600 mt-1">This card has supporting text below as a natural lead-in to additional content.
          </p>
          <div class="flex items-center mt-4">
            <div class="w-8 h-8 rounded-full overflow-hidden bg-stone-300"></div>
            <div class="ml-4">
              <p class="text-stone-600">By <span class="text-stone-900 font-semibold">Abby Sims</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="md:px-4 md:w-1/2 xl:w-1/4 mt-4 md:mt-0">
      <div class="bg-white rounded border border-stone-300 ">
        <div class="w-full h-48 overflow-hidden bg-stone-300"></div>
        <div class="p-4">
          <div class="flex items-center text-sm">
            <span class="text-stone-500 font-semibold">Business</span>
            <span class="ml-4 text-stone-600">29 Nov, 2019</span>
          </div>
          <p class="text-lg font-semibold leading-tight mt-4">Card Title</p>
          <p class="text-stone-600 mt-1">This card has supporting text below as a natural lead-in to additional
            content.
          </p>
          <div class="flex items-center mt-4">
            <div class="w-8 h-8 rounded-full overflow-hidden bg-stone-300"></div>
            <div class="ml-4">
              <p class="text-stone-600">By <span class="text-stone-900 font-semibold">Abby Sims</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4 w-[1280px] m-auto">
    <a href="#" title="" class="inline-block text-stone-500 font-semibold mt-6 mt:md-0">View All Posts</a>
  </div>
</section>
<!-- end blog -->