{{#extend "_default" title="Dashboard Secured"}}
  {{#content "main"}}
    <section class="container mx-auto grid grid-cols-2 gap-4">
      {{{embed "_pages"}}}
      {{{embed "_watch-patterns"}}}
    </section>
  {{/content}}
{{/extend}}

