{{#extend "_default" title="SMTP Trap"}}
  {{#content "main"}}
    <section
      class="container mx-auto grow flex flex-col relative overflow-hidden"
    >
      {{#embed "_card" layout="grid" title="" classNames="overflow-hidden grow"}}
        {{#content "content"}}
          <div class="flex flex-col flex-1 col-span-4 py-0 overflow-hidden bg-gray-200 dark:bg-gray-900">
            <div id="hbs-mail-list" class="grow overflow-auto"></div>
            <div id="hbs-email-pages" class="border-t text-gray-700 dark:text-gray-400 bg-gray-100 dark:bg-gray-800 border-gray-200 dark:border-gray-700"></div>
          </div>
          <div class="flex flex-col col-span-8 border-l border-gray-200 dark:border-gray-700">
            <div id="hbs-email-header" class="bg-white dark:bg-gray-800"></div>
            <iframe id="hbs-email-preview" class="h-full w-full"></iframe>
          </div>
        {{/content}}
      {{/embed}}

      <div
        id="hbs-no-emails"
        class="hidden flex flex-col h-full justify-center items-center"
      >
        <div
          class="text-slate-600 w-1/4 text-center flex flex-col justify-center items-center"
        >
          <div class="text-4xl text-slate-400">
            <span class="material-icons text-7xl">cloud_off</span>
          </div>
          <h2 class="font-medium text-2xl mt-4 mb-2">Your inbox is empty</h2>
          <p>Send emails through the fake SMTP server to see them here.</p>
        </div>
      </div>
      <div
        id="hbs-emails-loading"
        class="flex justify-center items-center absolute top-0 bottom-0 left-0 right-0"
      >
        {{#embed "_spinner" size="14"}}{{/embed}}
      </div>
    </section>
  {{/content}}

  {{#content "scripts"}}
    {{scripts "/public/hotbars/emails.js"}}
  {{/content}}
{{/extend}}