{{#extend "_default" title="Emails"}}
  {{#content "main"}}
    <section class="container mx-auto grow">
      <div class="grid grid-cols-12 gap-0">
        <div class="col-span-4 rounded-l-xl h-full bg-white py-6 flex flex-col">
          <div id="hbs-mail-list" class="h-full max-h-full overflow-auto">

          </div>
        </div>
        <div
          class="col-span-8 border-l border-gray-200 flex flex-col rounded-r-xl bg-white mb-6 flex flex-col"
        >

        </div>
      </div>
    </section>
  {{/content}}

  {{#content "scripts"}}
    <script src="/public/emails.js"></script>
  {{/content}}
{{/extend}}