{{#extend "_default" title="Dashboard" scroll=true}}
  {{#content "main"}}
    <section class="container mx-auto flex justify-start items-start gap-8 w-full relative">
      {{{embed "_pages"}}}
    </section>
  {{/content}}
{{/extend}}
