<header class="bg-rose-600 flex px-4 py-5">
  <h1 class="text-2xl font-bold text-white">Hotbars: Example</h1>
  <div class="grow">&nbsp;</div>
  <button id="theme-toggle" type="button" class="text-gray-100 hover:bg-rose-800 focus:outline-none focus:ring-4 focus:ring-rose-800 rounded-lg text-md p-2.5">
    {{> "dark-mode.icon" id="theme-toggle-dark-icon" }}
    {{> "dark-mode.icon" id="theme-toggle-light-icon" }}
  </button>
</header>

<!--
https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/settings_brightness/default/48px.svg
https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsrounded/settings_brightness/default/48px.svg
https://fonts.gstatic.com/s/i/short-term/release/materialsymbolssharp/settings_brightness/default/48px.svg
-->