<header class="body-font text-gray-600 dark:text-gray-200 bg-white dark:bg-gray-900">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 dark:text-gray-300 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-primary-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Hotbars</span>
    </a>

    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center justify-center">
      <a href="/about" class="mr-5 hover:text-gray-900">About</a>
      <a href="/docs" class="mr-5 hover:text-gray-900">Docs</a>
    </nav>

    {{#if authenticated}}
      <a href="/_sign-out" class="inline-flex items-center bg-gray-100 dark:bg-gray-900 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded mt-4 md:mt-0">
        Sign Out
      </a>
    {{else}}
      <a href="/sign-in" class="inline-flex items-center bg-gray-100 dark:bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded mt-4 md:mt-0">
        Sign In
      </a>
    {{/if}}

    <button id="theme-toggle" type="button" class="text-gray-100 hover:bg-rose-800 focus:outline-none focus:ring-4 focus:ring-rose-800 rounded-lg text-md p-2.5">
      {{{embed "icons/dark-mode.icon" id="theme-toggle-dark-icon" }}}
      {{{embed "icons/light-mode.icon" id="theme-toggle-light-icon" }}}
    </button>
  </div>
</header>

<!--
https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/settings_brightness/default/48px.svg
https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsrounded/settings_brightness/default/48px.svg
https://fonts.gstatic.com/s/i/short-term/release/materialsymbolssharp/settings_brightness/default/48px.svg
-->