<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>{{site.title}}</title>

    {{> hotbarsHead}}

    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
          extend: {
            textColor: "text-slate-600",
            container: {
              center: true,
            },
            colors: {
              clifford: '#da373d',
            }
          }
        }
      }
    </script>

    <link rel="stylesheet" href="/public/styles/style.css" />
  </head>
  <body>
    {{#block "main"}}
      <h1>{{site.description}}</h1>
    {{/block}}

    {{> hotbarsFooter}}
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.1/cash.min.js"></script>
  </body>
</html>