{{> "_heading" size="h3" text="Custom Endpoints" }}
<div class="overflow-y-scroll grow max-h-96">
  <ul>
    {{#filter routes "user" property="source"}}
      {{#each (get "routes" this)}}
        {{#if (not (eq "middleware" type))}}
          {{#each this.methods}}
            <li class="py-2 px-2 border-b border-slate-100 hover:bg-slate-100">
              {{> "_http-methods" this}} <span class="font-bold text-slate-400">{{../path}}</span>
            </li>
          {{/each}}
        {{/if}}
      {{/each}}
    {{/filter}}
  </ul>
</div>