<div class="w-64 grow-0 shrink-0 sticky top-0 border-r border-gray-800">
  <ul class="p-0 m-0 list-none">
    {{#block "items"}}
      {{#each items}}
        <li><a id="{{id}}" href="{{url}}" class="inline-flex w-full py-3 pl-8 pr-4 border-b border-gray-800">{{title}}</a></li>
      {{/each}}
    {{/block}}
  </ul>
</div>