<a hb-back-to-top="true" href="#" class="opacity-0 inline-block fixed bottom-[-100px] top-auto left-auto right-[30px]
  rounded rounded-full h-20 w-20 bg-{{default color "stone-600"}} z-[999]
  flex items-center justify-center text-white
  transition-all duration-600">
  {{{embed "icons/chevron-up" size=12}}}
</a>