{{#extend "_auth" title="Sign Up"}}
  {{#content "main"}}
    <section>
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <a
          href="#"
          class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
        >
          <img
            class="w-8 h-8 mr-2"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
            alt="logo"
          />
          Flowbite
        </a>
        <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
              class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
            >
              {{i "auth.signUpPendingTitle"}}
            </h1>

            <p class="text-md text-center text-gray-500 dark:text-gray-400">
              {{i "auth.signUpPendingMessage"}}
            </p>

            <p
              class="text-center text-sm font-light text-gray-500 dark:text-gray-400"
            >
              Go to
              <a
                href="{{auth.signIn}}"
                class="font-medium text-primary-600 hover:underline dark:text-primary-500"
              >
                {{i "auth.signIn"}}
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
  {{/content}}
{{/extend}}