<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>{{default title "Hotbars: File not found"}}</title>
    <style>
      html, body { height: 100%; width: 100%; padding: 0; margin: 0; } body {
      font-family: sans-serif; text-align: center; font-size: 100%; display:
      flex; flex-direction: column; justify-content: center; align-content:
      center; } .hbs-error-code { font-size: 10rem; color: #d0d0d0; line-height:
      100%; margin: 0; } h1 { color: #15212f; font-size: 1.8rem; } p { color:
      #233546; }
    </style>
  </head>
  <body>
    <main>
      <h3 class="hbs-error-code">404</h3>
      <h1>Sorry, {{default pageName "page"}} was not found!</h1>
      {{#if (isTruthy message)}}<p>{{message}}</p>{{/if}}
    </main>
  </body>
</html>