<div id="{{prefix "response-content"}}" class="hidden overflow-auto h-full" role="tabpanel">
    <pre class="whitespace-normal m-0 p-6 overflow-visible">
      <code class="whitespace-pre-wrap"></code>
    </pre>
</div>