<div id="{{prefix "preview-content"}}" class="hidden overflow-auto h-full" role="tabpanel">
    <pre class="line-numbers" style="margin: 0; border-radius: 0; overflow: visible; white-space:pre-wrap;">
      <code class="language-json"></code>
    </pre>
</div>