{{#block "_box" }}
  <div class="rounded-lg bg-white dark:bg-neutral-900 p-6 mb-6 max-h-96 overflow-hidden flex flex-col">
    {{> "_heading" size=(default size "h3") text=title }}

    <div class="{{#if overflow}}overflow-{{overflow}}{{/if}} grow">
        {{#block "body"}}{{/block}}
    </div>
  </div>
{{/block}}