{{#block "_data_collection"}}
  <a
    href="/_api/{{name}}"
    data-name="collection"
    data-id="{{name}}"
    class="block py-4 px-4 text-slate-600 dark:text-slate-100 bg-white hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 border-b border-gray-200 dark:border-gray-700"
  >
    <h4 class="font-medium">{{default
      name
      "(no name)"
    }}</h4>
  </a>
{{/block}}