<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Hotbars: {{default title "User Api"}}</title>
    {{> hotbarsHead}}
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
          extend: {
            textColor: "text-slate-800",
            container: {
              center: true,
            },
            colors: {
              clifford: '#da373d',
            }
          }
        }
      }
    </script>
  </head>
  <body class="bg-slate-200 dark:bg-neutral-800 text-slate-800 dark:text-slate-100 flex flex-col overflow-hidden h-full">
    {{> "_header"}}

    <main class="px-5 pb-5 flex-auto flex flex-col {{#if scroll}}overflow-y-scroll{{else}}overflow-hidden{{/if}}">
      <section class="container mx-auto grid grid-cols-1 py-5">
        {{#if title}}
          {{> "_heading" size="h3" text=title margin="0" }}
        {{/if}}
        {{#block "hero"}}{{/block}}
      </section>

      {{#block "main"}}{{/block}}
    </main>

    {{#block "footer"}}{{/block}}

    {{> hotbarsFooter}}

    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>

    {{> "_scripts" }}

    <script src="/public/hotbars/common.js"></script>
    {{#block "scripts"}}{{/block}}
  </body>
</html>