<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Text as html email</title>

    <style>
      html, body { height: 100%; width: 100%; } body { background-color:
      #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased;
      font-size: 14px; line-height: 1.4; -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%; margin: 0; padding: 0; } body > div {
      padding: 1.25rem 1rem; }
    </style>
  </head>
  <body>
    <div>{{{textAsHtml}}}</div>
  </body>
</html>